/* Basics */
.gomp-ctrl-geocoder,
.gomp-ctrl-geocoder *,
.gomp-ctrl-geocoder *:after,
.gomp-ctrl-geocoder *:before {
  box-sizing:border-box;
}
.gomp-ctrl-geocoder {
  font-size: 18px;
  line-height: 24px;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  position:relative;
  background-color:white;
  width:33.3333%;
  min-width:240px;
  max-width:calc(100vw - 100px);
  z-index:1;
  border-radius:20px;
  transition:border-radius .2s;
}

.gomp-ctrl-geocoder.block{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.gomp-ctrl-geocoder input[type='text'] {
  font-size:15px;
  width:100%;
  border:0;
  background-color:transparent;
  height:40px;
  margin:0;
  color:rgba(0,0,0,.5);
  padding:8px 10px 10px 40px;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  }

.gomp-ctrl-geocoder input::-ms-clear {
  display: none; /* hide input clear button in IE */
}

.gomp-ctrl-geocoder input::placeholder{
  color:rgba(0,0,0,.4);
}

.gomp-ctrl-geocoder input:focus {
  color:rgba(0,0,0,1);
  outline:0;
  box-shadow:none;
  outline:thin dotted\8;
}

.gomp-ctrl-geocoder .geocoder-pin-right > * {
  z-index: 2;
  position: absolute;
  right: 8px;
  top: 7px;
  display: none;
}

.gomp-ctrl-geocoder,
.gomp-ctrl-geocoder ul {
  box-shadow: 1px 1px 0 0 rgba(0,0,0,0.1), 0 0 2px 0 rgba(0,0,0,.2), 0 2px 10px rgba(0,0,0,.1);
}

/* Collapsed */
.geocoder-collapsed {
  width: 30px;
  min-width: 30px;
  transition: width .25s, min-width .25s;
}

/* Suggestions */
.gomp-ctrl-geocoder ul {
  background-color:#fff;
  border-radius: 0 0 20px 20px;
  border-top:1px solid rgba(0,0,0,0.2);
  left:0;
  list-style:none;
  margin:0;
  padding:0;
  position:absolute;
  width:100%;
  top: 110%; /* fallback */
  top: calc(100% + 6px);
  z-index:1000;
  overflow:hidden;
  font-size:12px;
}

.gomp-ctrl-bottom-left .gomp-ctrl-geocoder ul,
.gomp-ctrl-bottom-right .gomp-ctrl-geocoder ul {
    top:auto;
    bottom:100%;
}

.gomp-ctrl-geocoder ul > li > a {
  cursor: default;
  display: block;
  padding: 6px 12px;
  color: #404040;
}

.gomp-ctrl-geocoder ul > .active > a,
.gomp-ctrl-geocoder ul > li > a:hover {
  color: #404040;
  background-color: #f3f3f3;
  text-decoration: none;
  cursor: pointer;
}

.geocoder-suggestion-title {
  font-weight: bold;
}

.geocoder-suggestion-title,
.geocoder-suggestion-address {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Icons */
.geocoder-icon {
  display: inline-block;
  vertical-align: middle;
  speak: none;
  fill: #757575;
  top: 15px;
}

.geocoder-icon-search {
  position: absolute;
  top: 15px;
  left: 5px;
  width: 20px;
  height: 20px;
}

.gomp-ctrl-geocoder button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: #fff;
}

.geocoder-icon-close {
  width: 20px;
  height: 20px;
  margin-top: 8px;
  margin-right: 3px;
}

.gomp-ctrl-geocoder button:hover .geocoder-icon-close {
  fill: #909090;
}

.geocoder-icon-loading {
  width: 26px;
  height: 26px;
  margin-top: 5px;
  margin-right: 0px;
  -moz-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -webkit-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

/* Animation */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Media queries*/
@media screen and (min-width: 640px) {
  .gomp-ctrl-geocoder {
    width: 33.3333%;
    font-size: 15px;
    line-height: 20px;
    max-width: 360px;
  }
  .gomp-ctrl-geocoder ul {
    font-size: 13px;
  }

  .geocoder-icon {
    top: 8px;
  }

  .geocoder-icon-close {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 0;
  }

  .gomp-ctrl-geocoder input[type="text"] {
    height: 36px;
  }

  .geocoder-icon-loading {
    width: 26px;
    height: 26px;
    margin-top: -2px;
    margin-right: -5px;
  }

}
